<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=1280px, initial-scale=1.0">
  <meta name="description" content="@@description">
	<meta name="keywords" content="@@keywords">
	<link rel="shortcut icon" href="@@favicon" type="image/x-icon">
  <!-- <link rel="stylesheet" href="./css/mono-blue.css"> -->
  <link rel="stylesheet" href="./css/main.min.css" />

  <title>@@title</title>

  <header class="header fixed-top">

    <div class="container">
      <div class="row">
        <div class="col-lg-24 col-xs-14">
          <div id="lmm-menu">
            <lmm-menu :glossary="glossary" :materials="materials" :menu-items="menuItems" :show-content="true"
              :show-glossary="true" :show-materials="true">
            </lmm-menu>
          </div>
        </div>
      </div>
    </div>
    <div class="container container-header">
      <div class="mount"></div>
      <div class="header__top">
        <div class="row">
          <div class="col-12">
            <div class="d-flex align-items-center">
              <p class="header__course-name">Гайдлайн</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</head>
