.border {
    &-top {
        &-1 {
            border-top: 1px solid;
        }

        &-2 {
            border-top: 2px solid;
        }

        &-3 {
            border-top: 3px solid;
        }

        &-4 {
            border-top: 4px solid;
        }

        &-5 {
            border-top: 5px solid;
        }
    }

    &-right {
        &-1 {
            border-right: 1px solid;
        }

        &-2 {
            border-right: 2px solid;
        }

        &-3 {
            border-right: 3px solid;
        }

        &-4 {
            border-right: 4px solid;
        }

        &-5 {
            border-right: 5px solid;
        }
    }

    &-bottom {
        &-1 {
            border-bottom: 1px solid;
        }

        &-2 {
            border-bottom: 2px solid;
        }

        &-3 {
            border-bottom: 3px solid;
        }

        &-4 {
            border-bottom: 4px solid;
        }

        &-5 {
            border-bottom: 5px solid;
        }
    }

    &-left {
        &-1 {
            border-left: 1px solid;
        }

        &-2 {
            border-left: 2px solid;
        }

        &-3 {
            border-left: 3px solid;
        }

        &-4 {
            border-left: 4px solid;
        }

        &-5 {
            border-left: 5px solid;
        }
    }

    &-blue {
        border-color: $blue !important;
    }

    &-light-blue {
        border-color: rgba($blue, 0.10) !important;
    }

    &-gray {
        border-color: #DBE1EE !important;
    }
}