.btn {

    &+& {
        margin-left: 15px;
    }

    &__primary {
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        &,
        &:visited,
        &:focus,
        &:active {
            display: inline-block;
            border: none;
            white-space: nowrap;
            vertical-align: middle;
            outline: none;
            text-decoration: none;
            background: $red;
            color: $white;

            .speech+& {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &.blue {
                background: $blue;

                &:hover {
                    text-decoration: none;
                    background: transparent;
                    background-color: rgba($blue, 0.85);
                }
            }

            &.dark-blue {
                background: $dark-blue;

                &:hover {
                    text-decoration: none;
                    background: transparent;
                    background-color: rgba($dark-blue, 0.85);
                }
            }

            &.xxl {
                padding: 30px 50px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.xl {
                padding: 20px 40px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.l {
                padding: 15px 30px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.m {
                padding: 11px 30px;
                font-size: $fs14;
                line-height: $lh21;
            }

            &.s {
                padding: 7px 20px;
                font-size: $fs14;
                line-height: $lh21;
            }

            &.xs {
                padding: 5px 15px;
                font-size: $fs12;
                line-height: $lh17;
            }

            &.nav {
                height: 44px;
                font-weight: 600;
                padding: 10.5px 32px;
                text-align: center;
                font-size: 14px;
                line-height: $lh21;
                border-radius: 5px;
                border: 1px solid transparent;

                svg.icon__right {
                    position: relative;
                    top: 4px;
                    display: inline-block;
                    width: 8px;
                    height: 16px;

                    &.red {
                        path {
                            stroke: $red;
                        }
                    }

                    &.blue {
                        path {
                            stroke: $blue;
                        }
                    }

                    &.dark-blue {
                        path {
                            stroke: $dark-blue;
                        }
                    }

                    &.white {
                        path {
                            stroke: $white;
                        }
                    }

                    &.gray {
                        path {
                            stroke: rgba($black, 0.25);
                        }
                    }
                }

                &.disabled {
                    pointer-events: none;
                    background: #fff;
                    padding: 10.5px 32px;
                    color: rgba($black, 0.25);
                    border: 1px solid rgba($black, 0.25);

                    & i.icon__arrow {
                        position: relative;
                        top: 4px;
                        display: inline-block;
                        margin-left: 10px;
                        width: 8px;
                        height: 16px;
                        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMUw5IDlMMSAxNyIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLW9wYWNpdHk9IjAuMjUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==);
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }

        &:hover {
            text-decoration: none;
            background: transparent;
            background-color: rgba($red, 0.85);
        }
    }

    &__default {
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        &,
        &:visited,
        &:focus,
        &:active {
            display: inline-block;
            width: auto;
            border: none;
            white-space: nowrap;
            vertical-align: middle;
            outline: none;
            background: $white;
            border: 1px solid transparent;
            color: $blue;
            border-color: transparent;

            &.xxl {
                padding: 30px 50px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.xl {
                padding: 20px 40px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.l {
                padding: 15px 30px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.m {
                padding: 10px 25px;
                font-size: $fs14;
                line-height: $lh21;
            }

            &.s {
                padding: 7px 20px;
                font-size: $fs14;
                line-height: $lh21;
            }

            &.xs {
                padding: 5px 15px;
                font-size: $fs12;
                line-height: $lh17;
            }
        }

        &:hover {
            text-decoration: none;
            background: transparent;
            border-color: $blue;
            color: $blue;
        }

    }

    &__outline {
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        &,
        &:visited,
        &:focus,
        &:active {
            display: inline-block;
            width: auto;
            white-space: nowrap;
            vertical-align: middle;
            outline: none;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: 5px;
            color: $red;
            border-color: rgba($red, 75);

            &.xxl {
                padding: 30px 50px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.xl {
                padding: 20px 40px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.l {
                padding: 15px 30px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.m {
                padding: 10px 25px;
                font-size: $fs14;
                line-height: $lh21;
            }

            &.s {
                padding: 7px 20px;
                font-size: $fs14;
                line-height: $lh21;
            }

            &.xs {
                padding: 5px 15px;
                font-size: $fs12;
                line-height: $lh17;
            }
        }

        &:hover {
            text-decoration: none;
            border-color: $red;
            background-color: $red;
            color: $white;
        }
    }

    &__dashed {
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        &,
        &:visited,
        &:focus,
        &:active {
            display: inline-block;
            width: auto;
            white-space: nowrap;
            vertical-align: middle;
            outline: none;
            background-color: transparent;
            border: 1px dashed transparent;
            color: $gray;
            border-color: $gray;

            &.xxl {
                padding: 30px 50px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.xl {
                padding: 20px 40px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.l {
                padding: 15px 30px;
                font-size: $fs16;
                line-height: $lh24;
            }

            &.m {
                padding: 10px 25px;
                font-size: $fs14;
                line-height: $lh21;
            }

            &.s {
                padding: 7px 20px;
                font-size: $fs14;
                line-height: $lh21;
            }

            &.xs {
                padding: 5px 15px;
                font-size: $fs12;
                line-height: $lh17;
            }
        }

        &:hover {
            text-decoration: none;
            color: $red;
            border-color: $red;
        }
    }

    &__prev {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: $fs14;
        line-height: $lh21;
        padding: 13px 32px;
        background: rgba(251, 210, 211, 1);
        border-radius: 5px;
        color: $red;
        border: 1px solid transparent;
        width: 133px;
        height: 44px;
        outline: none;
        cursor: pointer;

        svg.icon__left {
            position: relative;
            top: 1px;
            display: inline-block;
            margin-right: 10px;
            width: 8px;
            height: 16px;

            &.red {
                path {
                    stroke: $red;
                }
            }

            &.blue {
                path {
                    stroke: $blue;
                }
            }

            &.dark-blue {
                path {
                    stroke: $dark-blue;
                }
            }

            &.white {
                path {
                    stroke: $white;
                }
            }

            &.gray {
                path {
                    stroke: rgba($black, 0.25);
                }
            }
        }

        i.icon__arrow {
            position: relative;
            top: 1px;
            display: inline-block;
            margin-right: 10px;
            width: 8px;
            height: 16px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxMCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMUwxIDlMOSAxNyIgc3Ryb2tlPSIjRUQxQzI0IiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
            background-size: contain;
            background-repeat: no-repeat;
        }

        &.disabled {
            pointer-events: none;
            background-color: $white;
            color: rgba(0, 0, 0, 0.25);
            border-color: rgba(0, 0, 0, 0.25);
        }

        &:hover:not(.disabled) {
            background: rgba(251, 210, 211, 0.75);
        }
    }

    &__circle {
        border-radius: 50%;

        &.m {
            padding: 4px 11px !important;
        }
    }

    &__round {
        border-radius: 5px;
    }

    &__block {
        display: block;
        text-align: center;
        width: 100%;
    }

    &__center {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    &>i,
    &>span {
        display: inline-block;
        pointer-events: none;
    }

    &>.icon+span {
        margin-left: 8px;
    }

    &.disabled {
        color: $light-gray;
        background-color: $light-gray;
        border-color: $light-gray;
        text-shadow: none;
        box-shadow: none;
        pointer-events: none;
    }
}
