.divider {
  width: 100%;
  position: relative;
  margin: 0 0 10px 0;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;


  &.left,
  &.right {
    &>.divider--text {
      padding: 0;
    }
  }

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  .after,
  .before {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
  }
  .after {
    left: 0;
  }
  .before {
    right: 0;
  }

  &-border {
    border-top: 2px solid $light-blue;
  }

  &--text {
    display: flex;
    cursor: default;
    user-select: none;
    position: relative;
    white-space: nowrap;
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 2;
  }
}